@import "./../../../styles/utils";

.doc-button {
  @include doc-button-behaviour;
  background-color: transparent;
  border-radius: .2em;
  border: 0;
  box-sizing: content-box;
  cursor: pointer;

  .doc-icon {
    transform: inherit;
  }

  &:active {
    box-shadow: none;
  }

  &--icon {
    font-size: doc-dp(3);
    height: 1em;
    padding: .5em;
    width: 1em;
  }
}
