@import "./../../setup";

.doc-footer {
  background-color: doc-color(grey, 100);
  border-top: 1px solid doc-color(grey, 300);
  height: doc-dp(5);
  display: flex;
  align-items: center;

  padding-left: doc-dp(2);
  padding-right: doc-dp(2);
  &__claim {
    flex-grow: 1;
  }

  &__copyright {
    float: right;
  }
}
