@import "./../../../styles/utils";

$item-size: doc-dp(6);
$icon-size: doc-dp(3);
$offset-top-mobile: doc-dp(6);
$offset-top-desktop: doc-dp(7);
$width-mobile: doc-dp(33);
$width-desktop: doc-dp(40);

.doc-nav {
  z-index: 10;

  &.is-open {
    .doc-nav__drawer {
      transform: translateX(0);
      transition-duration: doc-speed(leave);
      transition-timing-function: doc-ease(out);
    }

    &:before {
      background-color: rgba(black, .68);
      content: '';
      height: 100vh;
      left: 0;
      outline: magenta 3px dotted;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 0;
    }
  }

  &__drawer {
    background-color: doc-color(white);
    border-top: doc-divider(light);
    box-shadow: doc-shadow(16);
    height: 100vh;
    padding-top: $offset-top-mobile;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    transform: translateX(doc-dp(-45));
    transition-duration: doc-speed(enter);
    transition-property: transform;
    transition-timing-function: doc-ease(in);
    width: $width-mobile;
    will-change: transform;
    z-index: 1;
  }

  &__list {
    margin-top: doc-dp(1);
    padding-top: doc-dp(1);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: $offset-top-mobile + doc-dp(3);
  }

  &__item {
    margin-inline-start: 0;
  }

  &__item + &__subheader {
    border-top: doc-divider(light);
  }

  &__action {
    // color: doc-color(black);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: $item-size;
    padding-left: doc-dp(2);
    padding-right: doc-dp(2);
    width: 100%;

    &:hover,
    &:focus {
      background-color: doc-color(grey, 100);
    }
  }

  &__icon {
    box-sizing: border-box;
    flex-basis: doc-dp(9);
    font-size: $icon-size;
  }

  &__subheader {
    padding-left: doc-dp(2);
    padding-right: doc-dp(2);
    min-height: doc-dp(6) ;
    font: doc-font-style(body1);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    color: doc-color(grey);
  }
}

@include doc-breakpoint(medium, up) {
  .doc-nav {
    &__drawer {
      padding-top: $offset-top-desktop;
      width: $width-desktop;
    }
    &__list {
      margin-bottom: $offset-top-desktop + doc-dp(3);
    }
  }
}
