.debug {
  $breakpoint-colors: (
    xsmall: 'light-green',
    small: green,
    medium: lime,
    large: yellow,
    xlarge: orange
  );
  $default: xsmall;

  body::after {
    background-color: doc-color(map-get($breakpoint-colors, $default));
    bottom: 0;
    color: doc-color(grey, 100);
    content: "#{$default}";
    font-size: .6rem;
    padding: .3em .6em;
    position: fixed;
    right: 0;
  }

  @each $breakpoint, $value in doc-breakpoint(all) {
    @include doc-breakpoint($breakpoint, up) {
      $color: doc-color(map-get($breakpoint-colors, $breakpoint));

      body::after {
        background-color: $color;
        color: complement($color);
        font-family: monospace;
        content: "#{$breakpoint}";
      }
    }
  }
}
