.debug {
  body::after {
    background-color: doc-color(orange);
    bottom: 0;
    color: doc-color(grey, 100);
    content: "xsmall";
    font-size: .6rem;
    padding: .3em .6em;
    position: fixed;
    right: 0;
  }

  @each $breakpoint, $value in doc-breakpoint(all) {
    @include doc-breakpoint($breakpoint, up) {
      body::after {
        content: "#{$breakpoint}";
      }
    }
  }
}
