/// Renders a media query condition for the given breakpoint
/// @param {Keyword} $breakpoint - Name of a breakpoint
/// @see {function} doc-breakpoint
@mixin doc-breakpoint($breakpoint, $range) {
  $value: doc-breakpoint($breakpoint);

  @if $range == up {
    @media (min-width: $value) { @content; }
  }
  @else if $range == down {
    @media (max-width: $value - 1px) { @content; }
  }
}

/// @param {Color} $color [grey]
@mixin doc-button-behaviour($color: doc-color(grey, 700)) {
  $bg-hover: rgba($color, .05);
  $bg-active: rgba($color, .1);

  $easing: doc-ease(base);
  $speed: doc-speed(base);
  transition-duration: $speed;
  transition-property: background;
  transition-timing-function: $easing;

  &:hover,
  &:focus {
    background-color: $bg-hover;
    outline: 0;
  }

  &:active {
    background-color: $bg-active;
    outline: 0;
  }
}
