@import "./../../styles/utils";

$nav-width: doc-dp(30);
$border-color: doc-color(grey);

.doc-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
  }

  &__main {
    background-color: doc-color(indigo);
    flex-grow: 1;
  }

  &__nav {
    order: -1;
  }

  /*
  * http://bit.ly/1Mn35US for details.
  */
  &__header {
    flex: none;
  }

  &__footer {
    flex: none;
  }
}

@include doc-breakpoint(small, up) {
  .doc-layout {
    &__nav {
      // flex-basis: $nav-width;
    }

    &__body {
      flex-direction: row;
      flex-grow: 1;
    }

    &__main {
      flex-grow: 1;
    }
  }
}
