@import "./../../styles/utils";

$nav-width: doc-dp(30);

.doc-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__main {
    background-color: doc-color(indigo);
    height: 100%
  }

  &__nav {
    position: absolute;
    left: 0;
    top: 0;
  }

  /*
  * http://bit.ly/1Mn35US for details.
  */
  &__header {
    flex: none;
  }

  &__footer {
    flex: none;
  }
}
