@import "./../../styles/utils";

$nav-width: doc-dp(30);
$content-min-width: 1170px;
$border-color: doc-color(grey);

.#{doc-namespace(layout)} {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__body {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative;
  }

  &__main {
    background-color: doc-color(indigo);
    flex-grow: 1;
  }

  &__nav {
    order: -1;
    position: relative;
  }

  /*
  * Set `flex-shrink` to `0` to prevent some browsers from letting these items shrink to smaller than their content's default minimum size. See
  * http://bit.ly/1Mn35US for details.
  */
  &__header {
    flex: none;
  }

  &__footer {
    flex: none;
  }
}

@include doc-breakpoint(small, up) {
  .#{doc-namespace(layout)} {
    &__nav {
      // flex-basis: $nav-width;
    }

    &__body {
      flex-direction: row;
      flex-grow: 1;
    }

    &__main {
      flex-grow: 1;
    }
  }
}
