@import "./../../../styles/utils";

@mixin -dimensions($offset-vertical, $height) {
  padding-left: $offset-vertical;
  padding-right: $offset-vertical;
  min-height: $height;
}

.doc-menu {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.doc-menu__item {
  text-align: left;
  width: 100%;
}

.doc-menu__item--action {
  @include -dimensions(doc-dp(2), doc-dp(6));
}

.doc-menu__item--divider {
  border-top: 1px doc-color(grey, 200) solid;
  line-height: 0;
  margin-bottom: doc-dp(1);
  margin-top: doc-dp(1);
  width: 100%;
}

@include doc-breakpoint(medium, up) {
  .doc-menu__item--action {
    @include -dimensions(doc-dp(3), doc-dp(4));
  }
}
