@import "./../../../styles/utils";

$shadow: doc-shadow(4);
$speed: doc-speed(base) / 2;
$width-step-mobile: doc-dp(7);
$width-step-desktop: doc-dp(8);

@mixin -hide-list {
  opacity: 0;
  transform: translateX(doc-dp(1));
  pointer-events: none;
}

@mixin -active-list {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
};

.doc-overflow-menu {
  display: inline-block;
  position: relative;

  &__toggle {
    padding-left: doc-dp(1);
    padding-right: doc-dp(1);
  }

  .doc-menu {
    @include -hide-list;
    @include doc-transition-setup(opacity transform, $speed: leave, $easing: out);
    background-color: doc-color(white);
    border-radius: doc-dp(.25);
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    min-width: $width-step-mobile * 4;
    padding-bottom: doc-dp(1);
    padding-top: doc-dp(1);
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: top center;
  }

  &__item {
    align-items: center;
    display: flex;
  }

  &.is-open {
    .doc-overflow-menu__toggle {
      background-color: rgba(doc-color(grey), .1);
    }
    .doc-menu {
      @include -active-list;
      transition-duration: doc-speed(enter);
    }
  }
}

.doc-overflow-menu--origin-bottom {
  .doc-overflow-menu__container {
    position: relative;
  }

  .doc-menu {
    top: doc-dp(.5);
  }
}

@include doc-breakpoint(medium, up) {
  .doc-overflow-menu {
    .doc-menu {
      transition-duration: doc-speed(leave, $screen: desktop);
    }

    &__list {
      min-width: $width-step-desktop * 4;
    }

    &.is-open {
      .doc-menu {
        transition-duration: doc-speed(enter, $screen: desktop);
      }
    }
  }
}
