////
/// @group shadows
////

/// The elevation based on https://material.io/guidelines/material-design/elevation-shadows.html
/// @param {Number} $elevation - The elevation of shadow
/// @param {Color} $shadow-color [black]
/// @returns {List} shadow styles
@function doc-shadow($elevation, $shadow-color: black) {
  $umbra: rgba($shadow-color, .14);
  $penumbra: rgba($shadow-color, .12);
  $ambient: rgba($shadow-color, .2);

  @if $elevation <= 0 {
    $elevation: 1;
  }
  @else if $elevation == 5 {
    $elevation: 6;
  }
  @else if $elevation == 7 {
    $elevation: 8;
  }
  @else if $elevation > 9 and $elevation < 12 {
    $elevation: 12;
  }
  @else if $elevation > 12 and $elevation < 16 {
    $elevation: 16;
  }
  @else if $elevation > 16 {
    $elevation: 24;
  }

  $elevations: (
    dp1:  (0  0     3px     $umbra, 0 2px          $penumbra, 0  1px  2px $ambient),
    dp2:  (0  0     4px     $umbra, 0 3px  4px     $penumbra, 0  1px  5px $ambient),
    dp3:  (0  3px   3px     $umbra, 0 3px  4px     $penumbra, 0  1px  8px $ambient),
    dp4:  (0  2px   4px     $umbra, 0 4px  5px     $penumbra, 0  1px 10px $ambient),
    dp6:  (0  6px  10px     $umbra, 0 1px 18px     $penumbra, 0  3px  5px $ambient),
    dp8:  (0  8px  10px 1px $umbra, 0 3px 14px 3px $penumbra, 0  4px 15px $ambient),
    dp9:  (0  9px  12px 1px $umbra, 0 3px 16px 2px $penumbra, 0  5px  6px $ambient),
    dp12: (0 12px  17px 2px $umbra, 0 5px 22px 4px $penumbra, 0  7px  8px $ambient),
    dp16: (0 16px  24px 2px $umbra, 0 6px 30px 5px $penumbra, 0  8px 10px $ambient),
    dp24: (0 24px  38px 3px $umbra, 0 9px 46px 8px $penumbra, 0 11px 15px $ambient)
  );

  @return map-get($elevations, dp#{$elevation});
}
