////
/// @group transitions
////

/// Provides all app specific speed types following the material design duration rules.
/// @param {Keyword} $speed - Name of speed type e.g. `base`, `large`, `leave`, etc.
/// @param {Keyword} $screen [mobile] - Name of screen type. possible types are `mobile`, `tablet`, `desktop`
/// @returns {Number} milliseconds
/// @link https://material.io/guidelines/motion/duration-easing.html#duration-easing-common-durations
@function doc-speed($speed, $screen: mobile) {
  $screens: (
    mobile: 1,
    tablet: 1.3,  // 30%
    desktop: .70  // -30%
  );
  $speeds: (
    base: 300ms,
    large: 375ms,
    small: 195ms,
    enter: 225ms,
    leave: 195ms
  );

  @return round(map-get($speeds, $speed) * map-get($screens, $screen));
}

/// Provides all app specific easing types.
/// @param {Keyword} $easing - Name of the easing type e.g. `base`, `in`, `out`, etc.
/// @returns {Function} `cubic-bezier`
/// @link https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves
@function doc-ease($easing) {
  $easings: (
    base: cubic-bezier(0.4, 0.0, 0.2, 1),    // Standard curve
    out: cubic-bezier(0.0, 0.0, 0.2, 1),     // Deceleration curve
    in: cubic-bezier(0.4, 0.0, 1, 1),        // Acceleration curve
    'in-out': cubic-bezier(0.4, 0.0, 0.6, 1) // Sharp curve
  );

  @return map-get($easings, $easing);
}

/// Provides a basic setup for transitions.
/// @param {List} $properties - List of properties which should affected by transitions.
/// @param {Keyword} $easing [in-out] - One of the defined easing names
/// @param {Keyword} $speed [speed] - One of the defined speed names
/// @example
///   @include doc-transition-setup(border opacity);
///   @include doc-transition-setup(border opacity, $speed: leave);
@mixin doc-transition-setup($properties, $easing: in-out, $speed: base) {
  $props: zip($properties);

  transition-duration: doc-speed($speed);
  transition-property: $props;
  transition-timing-function: doc-ease($easing);
  will-change: $props;
}
