@import "./../../../../styles/utils";

@mixin -doc-transition-setup($props) {
  transition-duration: doc-speed(base);
  transition-property: $props;
  transition-timing-function: doc-ease(base);
  will-change: $props;
}

@mixin -doc-dimensions($offset-vertical, $height) {
  padding-left: $offset-vertical;
  padding-right: $offset-vertical;
  min-height: $height;
}

.doc-input-switch {
  $bar-checked-color: doc-color(cyan);
  $bar-height: .625em;
  $bar-unchecked-color: doc-color(grey, 300);
  $bar-width: 1.625em;
  $dot-checked-color: doc-color(cyan, 900);
  $dot-size: .875em;
  $dot-unchecked-color: doc-color(grey, 100);
  $offset: ($dot-size - $bar-height) / 2;
  $dot-unchecked-x: translateX(-$offset);
  $dot-checked-x: translateX($bar-width - $dot-size + $offset);

  @include -doc-dimensions(doc-dp(2), doc-dp(6));
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  padding-bottom: doc-dp(1);
  padding-top: doc-dp(1);
  position: relative;
  user-select: none;
  width: 100%;

  &:active {
    .doc-input-switch__dot::before {
      background-color: rgba(doc-color(grey), .75);
      transform: scale(2);
    }
  }

  &__bar {
    @include -doc-transition-setup(background-color);
    align-items: center;
    background-color: $bar-unchecked-color;
    border-radius: 1em;
    content: '';
    cursor: pointer;
    display: block;
    display: flex;
    font-size: inherit;
    height: $bar-height;
    margin-left: $offset;
    margin-right: $offset;
    position: relative;
    width: $bar-width;
  }

  &__dot {
    @include -doc-transition-setup(transform background-color);
    background-color: $dot-unchecked-color;
    border-radius: 1em;
    box-shadow: doc-shadow(1);
    cursor: pointer;
    display: block;
    font-size: inherit;
    height: $dot-size;
    position: absolute;
    transform: $dot-unchecked-x;
    width: $dot-size;
    z-index: 0;

    &::before {
      @include -doc-transition-setup(transform background-color);
      background-color: transparent;
      border-radius: 1em;
      content: '';
      display: block;
      height: inherit;
      position: absolute;
      width: inherit;
      z-index: 1;
    }

    &:active {
      &::before {
        transform: scale(3);
      }
    }
  }

  &__input {
    display: none;
    &:checked ~ {

      .doc-input-switch__bar {
        background-color: $bar-checked-color;

        .doc-input-switch__dot {
          background-color: $dot-checked-color;
          transform: $dot-checked-x;
        }
      }
    }
  }
}

@include doc-breakpoint(medium, up) {
  .doc-input-switch__label {
    @include -doc-dimensions(doc-dp(3), doc-dp(4));
  }
}
