@import "./../../../../styles/utils";

@mixin -doc-transition-setup($props) {
  transition-duration: doc-speed(base);
  transition-property: $props;
  transition-timing-function: doc-ease(base);
  will-change: $props;
}

@mixin -doc-dimensions($offset-vertical, $height) {
  padding-left: $offset-vertical;
  padding-right: $offset-vertical;
  min-height: $height;
}

.doc-input-switch {
  $handle-checked-color: doc-color(cyan, 900);
  $rail-checked-color: doc-color(cyan);
  $handle-unchecked-color: doc-color(grey, 100);
  $rail-unchecked-color: doc-color(grey, 300);
  $toggle-size: .875em;
  $handle-size: 1.25em;
  $rail-height: .875em;
  $rail-width: 2em;
  $offset: ($handle-size - $rail-height) / 2;
  $handle-unchecked-x: translateX(-$offset);
  $handle-checked-x: translateX($rail-width - $handle-size + $offset * 2);

  @include -doc-dimensions(doc-dp(2), doc-dp(6));
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  padding-bottom: doc-dp(1);
  padding-top: doc-dp(1);
  position: relative;
  user-select: none;
  width: 100%;

  &__rail {
    @include -doc-transition-setup(background-color);
    align-items: center;
    background-color: $rail-unchecked-color;
    border-radius: 1em;
    content: '';
    cursor: pointer;
    display: block;
    display: flex;
    font-size: $toggle-size;
    height: $rail-height;
    margin-left: $offset;
    margin-right: $offset;
    position: relative;
    width: $rail-width;
  }

  &__handle {
    @include -doc-transition-setup(transform background-color);
    background-color: $handle-unchecked-color;
    border-radius: 1em;
    box-shadow: doc-shadow(1);
    content: '';
    cursor: pointer;
    display: block;
    font-size: $toggle-size;
    height: $handle-size;
    position: absolute;
    transform: $handle-unchecked-x;
    width: $handle-size;
  }

  &__input {
    display: none;

    &:checked ~ {

      .doc-input-switch__rail {
        background-color: $rail-checked-color;

        .doc-input-switch__handle {
          background-color: $handle-checked-color;
          transform: $handle-checked-x;
        }
      }
    }
  }
}

@include doc-breakpoint(medium, up) {
  .doc-input-switch__label {
    @include -doc-dimensions(doc-dp(3), doc-dp(4));
  }
}
