@import "./../../../styles/utils";

@mixin -dimensions($offset-vertical, $height) {
  padding-left: $offset-vertical;
  padding-right: $offset-vertical;
  min-height: $height;
}

.doc-menu__item {
  list-style: none;
}
.doc-menu__item--divider {
  border-top: doc-divider(light);
  line-height: 0;
  margin-bottom: doc-dp(1);
  margin-top: doc-dp(1);
}

.doc-menu__action {
  @include doc-button-behaviour;
  @include -dimensions(doc-dp(2), doc-dp(6));
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  font-size: doc-font-size(button);
  text-align: left;
  width: 100%;
}

@include doc-breakpoint(medium, up) {
  .doc-menu__action {
    @include -dimensions(doc-dp(3), doc-dp(4));
  }
}
